* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  --color-white-main: #f7f7f7;
  --color-white-alt: #edebeb;
  --color-black-main: #222222;
  --color-black-alt: #484848;
}

body,
html {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  overflow-x: hidden;
}

#page-container {
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-columns: 3fr 1fr;
  column-gap: 1.5rem;
}

.page-divider {
  height: 100%;
  width: 100%;
  /* max-width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; */
  /* place-content: center; */
  /* gap: 1rem; */
}

#page-divider-left-side {
  /* background-color: red; */
  display: grid;
  grid-template-columns: 1fr;
  /* border-right: 3px solid var(--color-black-alt); */
  /* grid-template-rows: 10% 90%; */
  /* background-color: var(--color-white-main); */
}

#page-divider-right-side {
  /* background-color: purple; */
  max-height: 100vh;
  width: 100%;
  display: grid;
  justify-content: center;
  align-items: center;
  /* margin-top: 1rem; */

  overflow-y: hidden;
}

ul,
li {
  list-style-type: none;
}

#btn-login {
  outline: none;
  border: 2px solid var(--color-black-main);
  padding: 0.5rem 1.5rem;
  cursor: pointer;
  border-radius: 3px;

  position: fixed;
  top: 2.5%;
  right: 2.5%;

  /* background-color: var(--color-black-alt); */
}

/* .modal {
  transition: all 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
} */

.modal {
  width: 20vw;
  height: 40vh;
  position: absolute;
  top: 50%;
  left: 50%;
  border-radius: 0.75rem;
  transform: translate(-50%, -50%) scale(0);
  padding: 2rem;

  text-align: center;
  font-size: 1.2rem;

  background-color: rgba(25, 25, 25, 1);
  color: #fff;
  box-shadow: -8px -8px 12px rgba(0, 0, 0, 0.5);
  z-index: 999;

  transition: all 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.employee-search-input-container {
}

.employee-search-results-container {
  /* min-height: 100%; */

  /* display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; */

  /* background-color: black; */
}

.employee-group-container {
  min-height: 200px;
  width: 100%;

  display: grid;
  grid-template-columns: 10% 90%;
  /* gap: 2rem; */
  grid-template-rows: auto;
  margin: 1rem;
}

.employee-group-letter-container {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 3px;
}

.employee-group-container:nth-of-type(odd) .employee-group-letter-container {
  background-color: var(--color-black-main);
}

.employee-group-container:nth-of-type(even) .employee-group-letter-container {
  background: var(--color-black-alt);
}

.employee-group-letter::before {
  display: block;
  content: attr(data-letter);
  color: var(--color-white-alt);
  font-size: 6rem;
  font-weight: 800;
}

.employee-group-listings .employee-listing {
  margin: 0 1rem;
  padding: 1.3rem;
  border-radius: 3px;
}

.employee-group-listings .employee-listing p {
  letter-spacing: 0.45px;
  line-height: 1.7rem;
}

.employee-group-listings .employee-listing:nth-of-type(2) {
  background-color: var(--color-white-alt);
}

.input-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.employee-search-input-container #input-employee-search,
.input-container #login-username,
.input-container #login-password {
  height: 50px;
  font-size: 1.2rem;
  text-align: center;
  /* outline: none; */
  border: none;
  /* border-bottom: 2px solid red; */
  /* border-bottom-left-radius: 0; */
  /* border-bottom-right-radius: 0; */
}

.employee-search-input-container #input-employee-search {
  width: 80%;
}

.input-container #login-username,
.input-container #login-password {
  width: 100%;
}

.modal .modal-contents {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 100%;
  width: 100%;
  gap: 1rem;
}

.modal .modal-close-btn,
.modal-submit-btn {
  width: 8rem;
  height: 3rem;
  padding: 9px;
  border-radius: 9px;
  border: 1px solid var(--color-black-main);
  font-size: 1.2rem;
  cursor: pointer;
}

.modal.displaying {
  transform: translate(-50%, -50%) scale(1);
}
